{% extends 'layouts/main.twig' %}

{% block style %}
    <link rel="stylesheet" href="/css/productEdit.css?t={{ sol }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="title">
        <h2 class="title__text">{{ title }}</h2>
    </div>

    <form class="editor" action="{{ action }}"  method="post">

        {% if showId %}
            <div class="editor__row">
                <label class="editor__label" for="id">ID: </label>
                <input class="editor__edit" type="text" name="id" id="id" value="{{ product.id }}" readonly>
            </div>
        {% endif %}

        <div class="editor__row">
            <label class="editor__label" for="name">Название: </label>
            <input class="editor__edit" type="text" name="name" id="name" value="{{ product.name }}">
        </div>

        <div class="editor__row">
            <label class="editor__label" for="title">Заголовок: </label>
            <input class="editor__edit" type="text" name="title" id="title" value="{{ product.title }}">
        </div>

        <div class="editor__row">
            <label class="editor__label" for="description">Описание: </label>
            <textarea class="editor__memo" name="description" id="description" rows="5"
                >{{ product.description }}</textarea>
        </div>

        <div class="editor__row">
            <label class="editor__label" for="image">Изображение: </label>
            <input class="editor__edit" type="text" name="image" id="image" value="{{ product.image }}">
        </div>

        <div class="editor__row">
            <label class="editor__label" for="price">Цена: </label>
            <input class="editor__edit" type="text" name="price" id="price" value="{{ product.price }}">
        </div>

        <div class="editor__row">
            <label class="editor__label" for="images">Список дополнительных изображений: </label>
            <textarea class="editor__memo" name="images" id="images" rows="5"
                >{{ product.getImagesToString }}</textarea>
        </div>

        <div class="editor__control">
            <input class="button editor__button" type="reset" value="Очистить">
            <input class="button editor__button" type="submit" value="{{ buttonTitle }}">
        </div>

    </form>

{% endblock %}
