{% extends 'layouts/main.twig' %}

{% block style %}
    <link rel="stylesheet" href="/css/product.css?t={{ sol }}">
{% endblock %}

{% block title %}Каталог{% endblock %}

{% block content %}

    <div class="title">
        <h2 class="title__text">Каталог товаров</h2>
    </div>

    {% if count > 0 %}

        <div class="content">

            {% for product in goods %}
                <div class="product">
                    <a class="product__image" href="?c=product&a=single&id={{ product.id }}">
                        <img src="{{ product.image }}" alt="product">
                    </a>
                    <h3 class="product__name">{{ product.title }}</h3>
                    <p class="product__text">{{ product.description }}</p>
                    <p class="product__price">Цена: {{ product.price }}<i class="fa fa-rub" aria-hidden="true"></i></p>
                    <a class="button product__link" href="/?c=cart&a=add&id={{ product.id }}">Добавить в корзину</a>
                </div>
            {% endfor %}

        </div>

    {% else %}

        <p class="message">Товары отсутствуют</p>

    {% endif %}

{% endblock %}
