{% extends 'layouts/main.twig' %}

{% block style %}
    <link rel="stylesheet" href="/css/productTable.css?t={{ time }}">
    <link rel="stylesheet" href="/css/paginator.css?t={{ time }}">
{% endblock %}

{% block title %}Товары{% endblock %}

{% block content %}

    <div class="title">
        <h2 class="title__text">Товары</h2>

        {% if count > 0 %}
            <a class="button" href="/product/create">Добавить товар</a>
        {% endif %}

    </div>

    {% if count > 0 %}

        <div class="table">
            <div class="table__row">
                <div class="table__id table__head">ID</div>
                <div class="table__name table__head">Имя</div>
                <div class="table__title table__head">Заголовок</div>
                <div class="table__description table__head">Описание</div>
                <div class="table__image table__head">Изображение</div>
                <div class="table__price table__head">Цена</div>
                <div class="table__control table__head">Действия</div>
            </div>

            {% for product in goods %}
                <div class="table__row">
                    <div class="table__id">{{ product.id }}</div>
                    <div class="table__name"><p>{{ product.name }}</p></div>
                    <div class="table__title"><p>{{ product.title }}</p></div>
                    <div class="table__description">{{ product.description }}</div>
                    <div class="table__image">
                        <a href="/product/single/?id={{ product.id }}"><img src="{{ product.image }}" alt="product"></a>
                    </div>
                    <div class="table__price">{{ product.price }}<i class="fa fa-rub"></i></div>
                    <div class="table__control">
                        <a class="table__link" href="/product/update/?id={{ product.id }}">
                            <i class="fa fa-pencil-square"></i>
                        </a>
                        <a class="table__link table__link_red" href="/product/delete/?id={{ product.id }}">
                            <i class="fa fa-times-circle"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="paginator">

            <a class="button paginator__button" href="/product/table/?page=1">
                <i class="fa fa-chevron-left"></i>
            </a>

            {% for page, link in pages.links %}
                {% if page != pages.current %}
                    <a class="paginator__link" href="{{ link }}">{{ page }}</a>
                {% else %}
                    <p class="paginator__link paginator__link_active">{{ page }}</p>
                {% endif %}
            {% endfor %}

            <a class="button paginator__button" href="/product/table/?page={{ pages.count }}">
                <i class="fa fa-chevron-right"></i>
            </a>

        </div>

    {% else %}

        <p class="message">Товары отсутствуют</p>

    {% endif %}

{% endblock %}
