{% extends 'layouts/main.twig' %}

{% block style %}
    <link rel="stylesheet" href="/css/productTable.css?t={{ sol }}">
{% endblock %}

{% block title %}Товары{% endblock %}

{% block content %}

    <div class="title">
        <h2 class="title__text">Товары</h2>

        {% if count > 0 %}
            <a class="button" href="/?c=product&a=create">Добавить товар</a>
        {% endif %}

    </div>

    {% if count > 0 %}

        <div class="table">
            <div class="table__row">
                <div class="table__id table__head">ID</div>
                <div class="table__name table__head">Имя</div>
                <div class="table__title table__head">Заголовок</div>
                <div class="table__description table__head">Описание</div>
                <div class="table__image table__head">Изображение</div>
                <div class="table__price table__head">Цена</div>
                <div class="table__control table__head">Управление</div>
            </div>

            {% for product in goods %}
                <div class="table__row">
                    <div class="table__id">{{ product.id }}</div>
                    <div class="table__name">{{ product.name }}</div>
                    <div class="table__title">{{ product.title }}</div>
                    <div class="table__description">{{ product.description }}</div>
                    <div class="table__image">
                        <a href="/?c=product&a=single&id={{ product.id }}">
                            <img src="{{ product.image }}" alt="product">
                        </a>
                    </div>
                    <div class="table__price">{{ product.price }}<i class="fa fa-rub" aria-hidden="true"></i></div>
                    <div class="table__control">
                        <a class="table__link" href="/?c=product&a=update&id={{ product.id }}">
                            <i class="fa fa-pencil-square"></i>
                        </a>
                        <a class="table__link table__link_red" href="/?c=product&a=delete&id={{ product.id }}">
                            <i class="fa fa-times-circle"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>

    {% else %}

        <p class="message">Товары отсутствуют</p>

    {% endif %}

{% endblock %}
